body {
    font-size: 12px;  
    font-family: 'Roboto', sans-serif;
}

#container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.software text{
    fill: #2196F3;
    font-size: 10px;
    cursor:pointer;
}

.titleblock .title {
    font-size: 14px;
    font-weight:bold;
}

.titleblock .author {
    font-size: 10px;
    font-weight:bold;
}

.titleblock .version {
    font-size: 10px;
}

.reference {
    fill:none;
    stroke-width: 2px;
    cursor:pointer;
}

.entitytitle {
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}

.entity rect{
  	opacity:0.9;
	stroke-width:2px;
}

.attribute {
	cursor:default;
}


.attribute.primary {
	font-weight:bold;
}

.attribute.foreign {
	font-weight: bold;
   	font-style: italic;
}

.highlight {
	stroke: #E91E63 !important;
  	stroke-width: 3px !important;
}

.highlightText {
	fill: #E91E63 !important;
}

/*
 * D3-TIP CSS
 */
.d3-tip {
  	line-height: 1;
  	padding: 12px;
  	background: rgba(0, 0, 0, 0.8);
  	color: #fff;
  	border-radius: 2px;
  	pointer-events: none;
}

.d3-tip span {
	font-weight:bold;  
	color:#E91E63;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}




